+<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
+<% form_method = cat.persisted? ? "PATCH" : "POST" %>
+<% submit_text = cat.persisted? ? "Update Cat!" : "Create Cat!" %>

<form action = '<%= action_url %>' method = 'post'>
  <input name='_method' type='hidden' value='patch'>
  <label>Name:
    <input type='text' name='cat[name]' value='<%= @cat.name %>'>
  </label><br>
  <label> Sex:
    <% if @cat.sex == 'M' %>
      <input type="radio" name="cat[sex]" value="M" checked="checked"> M
      <input type="radio" name="cat[sex]" value="F"> F
    <% else %>
      <input type="radio" name="cat[sex]" value="M"> M
      <input type="radio" name="cat[sex]" value="F" checked="checked"> F
    <% end %>
  </label><br>
  <label> Color:
    <select name="cat[color]">
      <option value='<%= @cat.color %>'><%= @cat.color %></option>
      <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>"><%= color %></option>
      <% end %>
    </select>
  </label><br>
  <label> Birthdate:
    <input type="date" name="cat[birth_date]" value='<%= @cat.birth_date %>'>
  </label><br>
  <label> Description:
    <input type="text area" name="cat[description]" value='<%= @cat.description %>'>
  </label>
  <label><br>
    <input type="submit" value = "Edit Cat">
  </label>
</form>
